@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans");

html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    #fad0c4 0%,
    #fad0c4 1%,
    #ffd1ff 100%
  );
}
.title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 50px;
}

.Todo-task {
  color: rgb(163, 28, 204);
}
.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: aliceblue;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: #081e38;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s;
}

.todoItem.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.todoItem:hover {
  background-color: #6cd4ff;
  color: white;

  transition: background-color 0.5s, color 0.5s;
}
.todoItem:active {
  outline: 0;
  border: none;
  background-color: #14345b;
  color: white;
}

.submitButton {
  border: none;
  background-color: aliceblue;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.submitButton:hover {
  background-color: #6cd4ff;
  color: white;

  transition: background-color 0.5s, color 0.5s;
}
.submitButton:active {
  outline: 0;
  border: none;
  background-color: #14345b;
  color: white;
}

.inputBox {
  border: none;
  background-color: #f9dddb;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

  transition: background-color 0.5s, color 0.5s;
}

.inputBox:hover {
  background-color: #fe938c;
  color: white;

  transition: background-color 0.5s, color 0.5s;
}

.inputBox:focus {
  outline: 0;
  border: none;
}
.edit {
  background-color: #6cd4ff;
  color: white;
}
